/* Component 2 */

position: absolute;
width: 141px;
height: 41px;
left: 94px;
top: 22px;



/* Ellipse 1 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 2 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 3 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 4 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 5 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 14.63%;
bottom: 80.49%;

background: #ED6565;


/* Ellipse 6 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 14.63%;
bottom: 80.49%;

background: #ED6565;


/* Ellipse 7 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 14.63%;
bottom: 80.49%;

background: #ED6565;


/* Ellipse 8 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 14.63%;
bottom: 80.49%;

background: #ED6565;


/* Ellipse 9 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 10 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 11 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 12 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 13 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 24.39%;
bottom: 70.73%;

background: #ED6565;


/* Ellipse 14 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 24.39%;
bottom: 70.73%;

background: #ED6565;


/* Ellipse 15 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 24.39%;
bottom: 70.73%;

background: #ED6565;


/* Ellipse 16 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 24.39%;
bottom: 70.73%;

background: #ED6565;


/* Ellipse 57 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 58 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 59 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 60 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 61 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 4.88%;
bottom: 90.24%;

background: #ED6565;


/* Ellipse 62 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 4.88%;
bottom: 90.24%;

background: #ED6565;


/* Ellipse 63 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 4.88%;
bottom: 90.24%;

background: #ED6565;


/* Ellipse 64 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 4.88%;
bottom: 90.24%;

background: #ED6565;


/* Ellipse 65 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 66 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 67 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 68 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 69 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 73.17%;
bottom: 21.95%;

background: #ED6565;


/* Ellipse 70 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 73.17%;
bottom: 21.95%;

background: #ED6565;


/* Ellipse 71 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 73.17%;
bottom: 21.95%;

background: #ED6565;


/* Ellipse 72 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 73.17%;
bottom: 21.95%;

background: #ED6565;


/* Ellipse 17 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 18 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 19 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 20 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 21 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 34.15%;
bottom: 60.98%;

background: #ED6565;


/* Ellipse 22 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 34.15%;
bottom: 60.98%;

background: #ED6565;


/* Ellipse 23 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 34.15%;
bottom: 60.98%;

background: #ED6565;


/* Ellipse 24 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 34.15%;
bottom: 60.98%;

background: #ED6565;


/* Ellipse 25 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 26 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 27 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 41 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 42 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 43 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 44 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 45 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 53.66%;
bottom: 41.46%;

background: #ED6565;


/* Ellipse 46 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 53.66%;
bottom: 41.46%;

background: #ED6565;


/* Ellipse 47 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 53.66%;
bottom: 41.46%;

background: #ED6565;


/* Ellipse 48 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 53.66%;
bottom: 41.46%;

background: #ED6565;


/* Ellipse 49 */

position: absolute;
left: 77.3%;
right: 21.28%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.6);


/* Ellipse 50 */

position: absolute;
left: 80.14%;
right: 18.44%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.7);


/* Ellipse 51 */

position: absolute;
left: 82.98%;
right: 15.6%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.8);


/* Ellipse 52 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 53 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 63.41%;
bottom: 31.71%;

background: #ED6565;


/* Ellipse 54 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 63.41%;
bottom: 31.71%;

background: #ED6565;


/* Ellipse 55 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 63.41%;
bottom: 31.71%;

background: #ED6565;


/* Ellipse 56 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 63.41%;
bottom: 31.71%;

background: #ED6565;


/* Ellipse 28 */

position: absolute;
left: 85.82%;
right: 12.77%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.9);


/* Ellipse 29 */

position: absolute;
left: 88.65%;
right: 9.93%;
top: 43.9%;
bottom: 51.22%;

background: #ED6565;


/* Ellipse 30 */

position: absolute;
left: 91.49%;
right: 7.09%;
top: 43.9%;
bottom: 51.22%;

background: #ED6565;


/* Ellipse 31 */

position: absolute;
left: 94.33%;
right: 4.26%;
top: 43.9%;
bottom: 51.22%;

background: #ED6565;


/* Ellipse 32 */

position: absolute;
left: 97.16%;
right: 1.42%;
top: 43.9%;
bottom: 51.22%;

background: #ED6565;


/* Ellipse 73 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 74 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 75 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 76 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 77 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 78 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 79 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 80 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 81 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 82 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 83 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 84 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 85 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 86 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 87 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 88 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 89 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 90 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 91 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 92 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 93 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 94 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 95 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 96 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 97 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 98 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 99 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 100 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 101 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 102 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 103 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 104 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 105 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 106 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 107 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 108 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 109 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 110 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 111 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 112 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 113 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 114 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 115 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 116 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 117 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 118 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 119 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 120 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 121 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 122 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 123 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 124 */

position: absolute;
left: 54.61%;
right: 43.97%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 125 */

position: absolute;
left: 57.45%;
right: 41.13%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 126 */

position: absolute;
left: 60.28%;
right: 38.3%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 127 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 128 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 129 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 130 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 131 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 132 */

position: absolute;
left: 63.12%;
right: 35.46%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 133 */

position: absolute;
left: 65.96%;
right: 32.62%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 134 */

position: absolute;
left: 68.79%;
right: 29.79%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.4);


/* Ellipse 135 */

position: absolute;
left: 71.63%;
right: 26.95%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.45);


/* Ellipse 136 */

position: absolute;
left: 74.47%;
right: 24.11%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.5);


/* Ellipse 151 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 152 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 14.63%;
bottom: 80.49%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 159 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 160 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 24.39%;
bottom: 70.73%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 167 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 168 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 4.88%;
bottom: 90.24%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 175 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 176 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 73.17%;
bottom: 21.95%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 183 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 184 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 34.15%;
bottom: 60.98%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 194 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 195 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 53.66%;
bottom: 41.46%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 202 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 203 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 63.41%;
bottom: 31.71%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 207 */

position: absolute;
left: 48.94%;
right: 49.65%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 208 */

position: absolute;
left: 51.77%;
right: 46.81%;
top: 43.9%;
bottom: 51.22%;

background: rgba(237, 101, 101, 0.35);


/* Ellipse 209 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 210 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 211 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 212 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 213 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 19.51%;
bottom: 75.61%;

background: #9A9A9A;


/* Ellipse 214 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 19.51%;
bottom: 75.61%;

background: #9A9A9A;


/* Ellipse 215 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 19.51%;
bottom: 75.61%;

background: #9A9A9A;


/* Ellipse 216 */

position: absolute;
left: 98.58%;
right: 0%;
top: 19.51%;
bottom: 75.61%;

background: #9A9A9A;


/* Ellipse 217 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 218 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 219 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 220 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 221 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 29.27%;
bottom: 65.85%;

background: #9A9A9A;


/* Ellipse 222 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 29.27%;
bottom: 65.85%;

background: #9A9A9A;


/* Ellipse 223 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 29.27%;
bottom: 65.85%;

background: #9A9A9A;


/* Ellipse 224 */

position: absolute;
left: 98.58%;
right: 0%;
top: 29.27%;
bottom: 65.85%;

background: #9A9A9A;


/* Ellipse 225 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 226 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 227 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 228 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 229 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 9.76%;
bottom: 85.37%;

background: #9A9A9A;


/* Ellipse 230 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 9.76%;
bottom: 85.37%;

background: #9A9A9A;


/* Ellipse 231 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 9.76%;
bottom: 85.37%;

background: #9A9A9A;


/* Ellipse 232 */

position: absolute;
left: 98.58%;
right: 0%;
top: 9.76%;
bottom: 85.37%;

background: #9A9A9A;


/* Ellipse 233 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 234 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 235 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 236 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 237 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 78.05%;
bottom: 17.07%;

background: #9A9A9A;


/* Ellipse 238 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 78.05%;
bottom: 17.07%;

background: #9A9A9A;


/* Ellipse 239 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 78.05%;
bottom: 17.07%;

background: #9A9A9A;


/* Ellipse 240 */

position: absolute;
left: 98.58%;
right: 0%;
top: 78.05%;
bottom: 17.07%;

background: #9A9A9A;


/* Ellipse 241 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 242 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 243 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 244 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 245 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 39.02%;
bottom: 56.1%;

background: #9A9A9A;


/* Ellipse 246 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 39.02%;
bottom: 56.1%;

background: #9A9A9A;


/* Ellipse 247 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 39.02%;
bottom: 56.1%;

background: #9A9A9A;


/* Ellipse 248 */

position: absolute;
left: 98.58%;
right: 0%;
top: 39.02%;
bottom: 56.1%;

background: #9A9A9A;


/* Ellipse 249 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 250 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 251 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 252 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 253 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 254 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 255 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 256 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 58.54%;
bottom: 36.59%;

background: #9A9A9A;


/* Ellipse 257 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 58.54%;
bottom: 36.59%;

background: #9A9A9A;


/* Ellipse 258 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 58.54%;
bottom: 36.59%;

background: #9A9A9A;


/* Ellipse 259 */

position: absolute;
left: 98.58%;
right: 0%;
top: 58.54%;
bottom: 36.59%;

background: #9A9A9A;


/* Ellipse 260 */

position: absolute;
left: 78.72%;
right: 19.86%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.6);


/* Ellipse 261 */

position: absolute;
left: 81.56%;
right: 17.02%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.7);


/* Ellipse 262 */

position: absolute;
left: 84.4%;
right: 14.18%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.8);


/* Ellipse 263 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 264 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 68.29%;
bottom: 26.83%;

background: #9A9A9A;


/* Ellipse 265 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 68.29%;
bottom: 26.83%;

background: #9A9A9A;


/* Ellipse 266 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 68.29%;
bottom: 26.83%;

background: #9A9A9A;


/* Ellipse 267 */

position: absolute;
left: 98.58%;
right: 0%;
top: 68.29%;
bottom: 26.83%;

background: #9A9A9A;


/* Ellipse 268 */

position: absolute;
left: 87.23%;
right: 11.35%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.9);


/* Ellipse 269 */

position: absolute;
left: 90.07%;
right: 8.51%;
top: 48.78%;
bottom: 46.34%;

background: #9A9A9A;


/* Ellipse 270 */

position: absolute;
left: 92.91%;
right: 5.67%;
top: 48.78%;
bottom: 46.34%;

background: #9A9A9A;


/* Ellipse 271 */

position: absolute;
left: 95.74%;
right: 2.84%;
top: 48.78%;
bottom: 46.34%;

background: #9A9A9A;


/* Ellipse 272 */

position: absolute;
left: 98.58%;
right: 0%;
top: 48.78%;
bottom: 46.34%;

background: #9A9A9A;


/* Ellipse 273 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 274 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 275 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 276 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 277 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 278 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 279 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 280 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 281 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 282 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 283 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 284 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 285 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 286 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 287 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 288 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 289 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 290 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 291 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 292 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 293 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 294 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 295 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 296 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 297 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 298 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 299 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 300 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 301 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 302 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 303 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 304 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 305 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 306 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 307 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 308 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 309 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 310 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 311 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 312 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 313 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 314 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 315 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 316 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 317 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 318 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 319 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 320 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 321 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 322 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 323 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 324 */

position: absolute;
left: 56.03%;
right: 42.55%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 325 */

position: absolute;
left: 58.87%;
right: 39.72%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 326 */

position: absolute;
left: 61.7%;
right: 36.88%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 327 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 328 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 329 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 330 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 331 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 332 */

position: absolute;
left: 64.54%;
right: 34.04%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 333 */

position: absolute;
left: 67.38%;
right: 31.21%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 334 */

position: absolute;
left: 70.21%;
right: 28.37%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.4);


/* Ellipse 335 */

position: absolute;
left: 73.05%;
right: 25.53%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.45);


/* Ellipse 336 */

position: absolute;
left: 75.89%;
right: 22.7%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.5);


/* Ellipse 337 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 338 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 19.51%;
bottom: 75.61%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 339 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 340 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 29.27%;
bottom: 65.85%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 341 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 342 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 9.76%;
bottom: 85.37%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 343 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 344 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 78.05%;
bottom: 17.07%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 345 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 346 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 39.02%;
bottom: 56.1%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 347 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 348 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 58.54%;
bottom: 36.59%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 349 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 350 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 68.29%;
bottom: 26.83%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 351 */

position: absolute;
left: 50.35%;
right: 48.23%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* Ellipse 352 */

position: absolute;
left: 53.19%;
right: 45.39%;
top: 48.78%;
bottom: 46.34%;

background: rgba(154, 154, 154, 0.35);


/* TINT3D */

position: absolute;
left: 0%;
right: 21.99%;
top: 0%;
bottom: 0%;

font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 41px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #000000;

